<!--------------------------------------------------------------------------------->
<!-- STANDARD JAVASCRIPT LIBRARIES  ----------------------------------------------->
<!--------------------------------------------------------------------------------->

<!-- get jquery js -->
<!-- <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-1.7.1/jquery-1.7.1.min.js')}}"></script> -->
<script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-1.11.1/jquery-1.11.1.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-migrate-1.2.1/jquery-migrate-1.2.1.min.js')}}"></script>

<!-- get jquery-ui js -->
<!-- <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.min.js')}}"></script> -->
<script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-ui-1.11.1/jquery-ui.min.js')}}"></script>

<!-- get bootstrap js -->
<script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap-3.3.1/js/bootstrap.min.js')}}"></script>
<!--<script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap-2.0.0/js/bootstrap.min.js')}}"></script> -->
<!-- <script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap-3.2.0/js/bootstrap.min.js')}}"></script> -->

<!-- get tablesorter -->
<!-- <script type="text/javascript" src="{{url_for('static', filename='vendor/tablesorter-2.3.10/js/jquery.tablesorter.js')}}"></script> -->
<script type="text/javascript" src="{{url_for('static', filename='vendor/tablesorter-2.17.7/js/jquery.tablesorter.min.js')}}"></script>

<!-- get select2 -->
<!-- <script type="text/javascript" src="{{url_for('static', filename='vendor/select2-3.2/select2.min.js')}}"></script> -->
<script type="text/javascript" src="{{url_for('static', filename='vendor/select2-3.5.1/select2.min.js')}}"></script>

<!-- get parsley -->
<script type="text/javascript" src="{{url_for('static', filename='vendor/parsley-2.0.6/parsley.min.js')}}"></script>

<!-- get moment -->
<script type="text/javascript" src="{{url_for('static', filename='vendor/moment-2.8.4/moment.min.js')}}"></script>

<!-- get timepicker -->
<script type="text/javascript" src="{{url_for('static', filename='vendor/timepicker-0.3.3/jquery.ui.timepicker.js')}}"></script>

<!-- get facetview2 -->
<script type="text/javascript" src="{{url_for('static', filename='vendor/facetview2/es.js')}}"></script>
<!-- <script type="text/javascript" src="{{url_for('static', filename='vendor/facetview2/bootstrap2.facetview.theme.js')}}"></script> -->
<script type="text/javascript" src="{{url_for('static', filename='vendor/facetview2/bootstrap3.facetview.theme.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/facetview2/jquery.facetview2.js')}}"></script>
<!-- and reportview with its dependencies -->
<script type="text/javascript" src="{{url_for('static', filename='vendor/facetview2/vendor/d3/d3.v2.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/facetview2/vendor/nvd3/fisheye.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/facetview2/vendor/nvd3/nv.d3.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/facetview2/vendor/highcharts/highcharts.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/facetview2/vendor/highcharts/highcharts-3d.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/facetview2/jquery.reportview.js')}}"></script>

<!-- google map integration -->
{% if map_key %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{map_key}}"></script>
{% endif %}

<!--------------------------------------------------------------------------------->
<!-- APPLICATION JAVASCRIPT LIBRARIES  -------------------------------------------->
<!--------------------------------------------------------------------------------->

<!-- get the octopus js (must be done first) -->
<script type="text/javascript" src="{{url_for('static', filename='js/octopus.js')}}"></script>

<!-- get the application config -->
<script type="text/javascript" src="{{url_for('configjs.javascript_config')}}"></script>

<!-- get all of the module javascript libraries (implementers will want to enable/disable the relevant parts here, as you won't want to load all of them) -->
<script type="text/javascript" src="{{url_for('static', filename='js/es/autocomplete.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/sherpafact/fact.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/form/forms.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/crud/crud.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/clientjs/fragments.js')}}"></script>

<!-- import the service's custom javascript -->
<script type="text/javascript" src="{{url_for('static', filename='js/service.js')}}"></script>

<!-- for convenience in other places, set the current_domain and the current_scheme -->
<script type="text/javascript">var current_domain = document.location.host;</script>
<script type="text/javascript">var current_scheme = window.location.protocol;</script>

