<div class="row">
    <div class="col-md-5">
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default facetview_order btn-sm" title="Current order descending. Click to change to ascending" href="desc">
                            sort <span class="glyphicon glyphicon-arrow-down"></span> by
                        </button>
                    </span>
                    <select class="facetview_orderby form-control input-sm">
                        <option value="whatever">Journal Title</option>
                    </select>
                </div>

            </div>
        </form>
    </div>
    <div class="col-md-7">
        <form class="form-inline pull-right">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-danger facetview_startagain btn-sm" title="Clear all search parameters and start again">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                    <input type="text" class="facetview_freetext form-control input-sm" name="q" value="" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info facetview_force_search btn-sm">
                            <span class="glyphicon glyphicon-white glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>