<div class="container">

    <div class="content" id="navigation">

        <div class="navbar-nav" id="main-nav">
                <a class="navbar-brand" href="/">How Open Is It: Open Access Spectrum</a>
                <ul class="nav navbar-nav" id="main-nav-admin-menu" style="margin-bottom: 10px">
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/sponsors">Sponsors/Supporters</a></li>
                    <li><a href="/resources">Related Resources</a></li>
                </ul>
        </div>
        
    </div>
    <div class="container" style="background-color: white;">
        {% include "_flash.html" %}
    </div>
</div>