<div class="container">

    <div class="content" id="topstrap">
        <!--<a href="/">Open Access Spectrum Evaluation Tool</a>-->
    </div>

    <nav class="navbar navbar-default" id="oas-nav">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="nav navbar-nav">
                    <li{% if request.path == "/" %} class="active"{% endif %}><a href="{{url_for('index')}}">Scores</a></li>
                    <li{% if request.path == url_for('faq') %} class="active"{% endif %}><a href="{{url_for('faq')}}">FAQ</a></li>
                    <li{% if request.path == url_for('sponsors') %} class="active"{% endif %}><a href="{{url_for('sponsors')}}">Sponsors/Supporters</a></li>
                    <li{% if request.path.startswith("/api") %} class="active"{% endif %}><a href="/api">The Data</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                {% if not current_user.is_anonymous() %}

                    <li{% if request.path.endswith(current_user.email) %} class="active"{% endif %}><a alt="Manage your account" title="Manage your account" href="{{ url_for('account.username', username=current_user.email) }}"><strong>{{current_user.email}}</strong></a></li>
                    <li{% if request.path == url_for('account.index') %} class="active"{% endif %}><a href="{{ url_for('account.index') }}">Users</a></li>
                    <li{% if request.path == url_for('admin.index') %} class="active"{% endif %}><a href="{{ url_for('admin.index') }}">Admin</a></li>
                    <li><a href="{{ url_for('account.logout') }}">Logout</a></li>
                {% else %}
                    <li{% if request.path == url_for('account.login') %} class="active"{% endif %}><a href="{{ url_for('account.login') }}">Administrative Login</a></li>
                {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                {% include "_flash.html" %}
            </div>
        </div>
    </div>

</div>