{% extends "base.html" %}

{% block content %}

<p style="margin-bottom: 30px">The Open Access Spectrum (OAS) Evaluation Tool quantitatively scores journals' degrees of
    openness.  This independent measure can be of crucial benefit to authors, libraries, research funders, government
    agencies, and other interested parties.  It offers a concrete, quantifiable mechanism to analyze publications'
    policies.  The OAS Evaluation Tool aims to provide unprecedented insight and transparency into scholarly journals'
    degree of openness.</p>

<div id="publicsearch"></div>

{% endblock %}


{% block extra_js_bottom %}
<script type="text/javascript" src="{{ url_for('static', filename='js/public.search.js') }}"></script>
{% endblock%}