{% extends "base.html" %}

{% block content %}



<div class="row">
    <div class="col-md-1 total-score-box">
        <span class="total-score score-above-{{score.nearest_ten}}">{{score.total}}</span><br>
        Total Score
    </div>
    <div class="col-md-8">
        <h1>{{score.journal_name}}</h1>

        {% if score.issn|length > 0 or score.eissn|length > 0 %}
        <em>
            {% if score.issn|length > 0 %}
                {{score.issn|join(", ")}} (Print)
            {% endif %}
            {% if score.eissn|length > 0 %}
                {% if score.issn|length > 0 %}
                    ;
                {% endif %}
                {{score.eissn|join(", ")}} (Online)
            {% endif %}
        </em><br>
        {% endif %}

        {% if score.publisher %}
        {{score.publisher}}<br>
        {% endif %}
    </div>
    <div class="col-md-3">
        <div style="padding-top: 25px">
            {% if score.journal_url %}
            <a href="{{score.journal_url}}">Journal Homepage</a><br>
            {% endif %}

            {% if score.funder_policy_url %}
            <a href="{{score.funder_policy_url}}">Funder Policy</a><br>
            {% endif %}

            {% if score.romeo_url %}
            <a href="{{score.romeo_url}}">Sherpa Romeo</a><br>
            {% endif %}
        </div>
    </div>
</div>

<table class="score-table">
    <thead>
        <tr>
            <td class="access access-left">ACCESS</td>
            <td style="width: 14%">READER RIGHTS</td>
            <td style="width: 14%">REUSE RIGHTS</td>
            <td style="width: 14%">COPYRIGHTS</td>
            <td style="width: 14%">AUTHOR POSTING RIGHTS</td>
            <td style="width: 14%">AUTOMATIC POSTING</td>
            <td style="width: 14%">MACHINE READABILITY</td>
            <td class="access access-right">ACCESS</td>
        </tr>
    </thead>
    <tbody>
        <tr class="band-5">
            <td><img src="{{url_for('static', filename='images/openaccess.png')}}"></td>
            <td{% if score.reader_rights_band == 5 %} class="selected"{% endif %}>
                Free readership rights to all articles immediately upon publication
            </td>
            <td{% if score.reuse_rights_band == 5 %} class="selected"{% endif %}>
                Generous reuse & remixing rights (e.g., CC BY license)
            </td>
            <td{% if score.copyrights_band == 5 %} class="selected"{% endif %}>
                Author holds copyright with no restrictions
            </td>
            <td{% if score.author_posting_rights_band == 5 %} class="selected"{% endif %}>
                Author may post any version to any repository or website with no delay
            </td>
            <td{% if score.automatic_posting_rights_band == 5 %} class="selected"{% endif %}>
                Journals make copies of all articles automatically available in trusted third-party repositories (e.g.,PubMed Central, OpenAire, institutional) immediately upon publication
            </td>
            <td{% if score.machine_readability_band == 5 %} class="selected"{% endif %}>
                Article full text, metadata, supporting data (including format and semantic markup) & citations may be accessed via API, with instructions publicly posted
            </td>
            <td><img src="{{url_for('static', filename='images/openaccess.png')}}"></td>
        </tr>
        <tr class="band-4">
            <td>&nbsp;</td>
            <td{% if score.reader_rights_band == 4 %} class="selected"{% endif %}>
                Free readership rights to all articles after an embargo of no more than 6 months
            </td>
            <td{% if score.reuse_rights_band == 4 %} class="selected"{% endif %}>
                Reuse, remixing, & further building upon the work subject to certain restrictions & conditions (e.g., CC BY-NC & CC BY-SA licenses)
            </td>
            <td{% if score.copyrights_band == 4 %} class="selected"{% endif %}>
                Author retains/publisher grants broad rights, including author reuse (e.g., of figures in presentations/teaching, creation of derivatives) and authorization rights (for others to use)
            </td>
            <td{% if score.author_posting_rights_band == 4 %} class="selected"{% endif %}>
                Author may post some version (determined by publisher) to any repository or website with no delay
            </td>
            <td{% if score.automatic_posting_rights_band == 4 %} class="selected"{% endif %}>
                Journals make copies of all articles automatically available in trusted third-party repositories (e.g., PubMed Central, OpenAire, institutional) within 6 months
            </td>
            <td{% if score.machine_readability_band == 4 %} class="selected"{% endif %}>
                Article full text, metadata, & citations may be accessed via API, with instructions publicly posted
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr class="band-3">
            <td>&nbsp;</td>
            <td{% if score.reader_rights_band == 3 %} class="selected"{% endif %}>
                Free readership rights to all articles after an embargo greater than 6 months
            </td>
            <td{% if score.reuse_rights_band == 3 %} class="selected"{% endif %}>
                Reuse (no remixing or further building upon the work) subject to certain restrictions and conditions (e.g., CC BY-ND license)
            </td>
            <td{% if score.copyrights_band == 3 %} class="selected"{% endif %}>
                -
            </td>
            <td{% if score.author_posting_rights_band == 3 %} class="selected"{% endif %}>
                Author may post some version (determined by publisher) to any repository or website with some delay (determined by the publisher)
            </td>
            <td{% if score.automatic_posting_rights_band == 3 %} class="selected"{% endif %}>
                Journals make copies of all articles automatically available in trusted third-party repositories (e.g., PubMed Central, OpenAire, institutional) within 12 months
            </td>
            <td{% if score.machine_readability_band == 3 %} class="selected"{% endif %}>
                Article full text, metadata, & citations may be crawled without special permission or registration, with instructions publicly posted
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr class="band-2">
            <td>&nbsp;</td>
            <td{% if score.reader_rights_band == 2 %} class="selected"{% endif %}>
                Free and immediate readership rights to some, but not all, articles (including “hybrid” models)
            </td>
            <td{% if score.reuse_rights_band == 2 %} class="selected"{% endif %}>
                Some reuse rights beyond fair use for some, but not all, articles (including “hybrid models”)
            </td>
            <td{% if score.copyrights_band == 2 %} class="selected"{% endif %}>
                Author retains/publisher grants  limited rights for author reuse (e.g., of fi gures in presentations/teaching, creation of derivatives)
            </td>
            <td{% if score.author_posting_rights_band == 2 %} class="selected"{% endif %}>
                Author may post some version (determined by publisher) to certain repositories or websites, with or without delays
            </td>
            <td{% if score.automatic_posting_rights_band == 2 %} class="selected"{% endif %}>
                Journals make copies of some, but not all, articles automatically available in trusted third-party repositories (e.g., PubMed Central, OpenAire, institutional) within 12 months
            </td>
            <td{% if score.machine_readability_band == 2 %} class="selected"{% endif %}>
                Article full text, metadata, & citations may be crawled with permission, with instructions publicly posted
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr class="band-1">
            <td><img src="{{url_for('static', filename='images/closedaccess.png')}}"></td>
            <td{% if score.reader_rights_band == 1 %} class="selected"{% endif %}>
                Subscription, membership, pay-per-view, or other fees required to read all articles
            </td>
            <td{% if score.reuse_rights_band == 1 %} class="selected"{% endif %}>
                No reuse rights beyond fair use/dealing or other limitations or exceptions to copyright (All Rights Reserved)
            </td>
            <td{% if score.copyrights_band == 1 %} class="selected"{% endif %}>
                Publisher holds copyright, with no author reuse beyond fair use
            </td>
            <td{% if score.author_posting_rights_band == 1 %} class="selected"{% endif %}>
                Author may not deposit any versions to any repositories or websites at any time
            </td>
            <td{% if score.automatic_posting_rights_band == 1 %} class="selected"{% endif %}>
                No automatic posting in third-party repositories
            </td>
            <td{% if score.machine_readability_band == 1 %} class="selected"{% endif %}>
                No full text articles available for crawling
            </td>
            <td><img src="{{url_for('static', filename='images/closedaccess.png')}}"></td>
        </tr>
    </tbody>
</table>

<h2>Score Details</h2>

<table class="score-details">
    <thead>
        <tr>
            <td style="width: 20%">Area</td>
            <td>Score</td>
            <td>Relevant Text</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Reader Rights</strong></td>
            <td>{{score.reader_rights_score}}</td>
            <td>{{score.reader_rights_relevant_text}}</td>
            <td>
                {% if score.reader_rights_url %}
                    <a href="{{score.reader_rights_url}}">link</a>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><strong>Reuse Rights</strong></td>
            <td>{{score.reuse_rights_score}}</td>
            <td>{{score.reuse_rights_relevant_text}}</td>
            <td>
                {% if score.reuse_rights_url %}
                    <a href="{{score.reuse_rights_url}}">link</a>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><strong>Copyrights</strong></td>
            <td>{{score.copyrights_score}}</td>
            <td>{{score.copyrights_relevant_text}}</td>
            <td>
                {% if score.copyrights_url %}
                    <a href="{{score.copyrights_url}}">link</a>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><strong>Author Posting Rights</strong></td>
            <td>{{score.author_posting_rights_score}}</td>
            <td>{{score.author_posting_rights_relevant_text}}</td>
            <td>
                {% if score.author_posting_rights_url %}
                    <a href="{{score.author_posting_rights_url}}">link</a>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><strong>Automatic Posting</strong></td>
            <td>{{score.automatic_posting_rights_score}}</td>
            <td>{{score.automatic_posting_rights_relevant_text}}</td>
            <td>
                {% if score.automatic_posting_rights_url %}
                    <a href="{{score.automatic_posting_rights_url}}">link</a>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><strong>Machine Readability</strong></td>
            <td>{{score.machine_readability_score}}</td>
            <td>{{score.machine_readability_relevant_text}}</td>
            <td>
                {% if score.machine_readability_url %}
                    <a href="{{score.machine_readability_url}}">link</a>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-md-12">
        <div style="text-align: right">
            {% if score.publisher_contact_date %}
            <em>Score verified as of {{score.format_publisher_contact_date()}}</em><br>
            {% endif %}

            {% if score.created_date %}
            <em>Score first added to site {{score.format_created_date()}}</em>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}


{% block extra_js_bottom %}

{% endblock%}