{% extends "base.html" %}

{% block content %}

<p>The Open Access Spectrum Evaluation Tool is an independent measure supported by a number of scholarly  communication organizations.</p>

<h1>Founding Organizations</h1>

<p>The Founding Organizations are committing financial and in-kind support for the operation and oversight of the project.
    While they are responsible for building a team of scholarly communication experts to evaluate the journals, an arms-length
    distance precludes their participation in the evaluations themselves.</p>

<p style="margin-bottom: 30px; clear: both"><img src="{{ url_for('static', filename='images/sparc.jpg') }}" style="width: 100px; margin-right: 15px; float: left; margin-bottom: 30px"><a href="http://www.sparc.arl.org/">Scholarly Publishing and Academic Resources Coalition (SPARC)</a> is an international alliance of academic and
    research libraries working to create a more open system of scholarly communication.</p>

<p style="margin-bottom: 30px; clear: both"><img src="{{ url_for('static', filename='images/plos.png') }}" style="width: 100px; margin-right: 15px; float: left; margin-bottom: 30px"><a href="https://www.plos.org/">Public Library of Science (PLOS)</a> is a nonprofit publisher and advocacy organization founded to accelerate
    progress in science and medicine by leading a transformation in research communication. </p>

<h1 style="clear: both">Supporting Organizations</h1>

<p style="margin-bottom: 30px; clear: both">The HOpen Access Spectrum Evaluation Tool is further sustained by a broad coalition of organizations that support
    a greater understanding of what it means to be “open”.</p>

<p style="margin-bottom: 30px; clear: both"><img src="{{ url_for('static', filename='images/bmc.gif') }}" style="width: 100px; margin-right: 15px; float: left; margin-bottom: 30px"><a href="http://www.biomedcentral.com/">BioMed Central</a> is an STM (Science, Technology and Medicine) publisher of more than 275 peer-reviewed open
    access journals, spanning all areas of biology, biomedicine and medicine.  </p>

<p style="margin-bottom: 30px; clear: both"><img src="{{ url_for('static', filename='images/copernicus.png') }}" style="width: 100px; margin-right: 15px; float: left; margin-bottom: 30px"><a href="http://publications.copernicus.org/">Copernicus Publications</a> promotes the sciences by organizing conferences and exhibitions worldwide, publishing
    highly reputable peer-reviewed open-access journals, supporting associations in the fulfilment of their tasks, and
    developing appropriate software solutions for achieving these aims.</p>

<p style="margin-bottom: 30px; clear: both"><img src="{{ url_for('static', filename='images/elife.jpg') }}" style="width: 100px; margin-right: 15px; float: left; margin-bottom: 30px"><a href="http://elifesciences.org/">eLife</a> is a unique, non-profit collaboration between the funders and practitioners of research to improve the
    way important results are presented and shared. The open-access eLife journal is the first step in this initiative
    to make science publishing more effectively benefit science and scientists.</p>

<p style="margin-bottom: 30px; clear: both"><img src="{{ url_for('static', filename='images/frontiers.jpg') }}" style="width: 100px; margin-right: 15px; float: left; margin-bottom: 30px"><a href="http://www.frontiersin.org/">Frontiers</a> is an online platform for the scientific community to publish open-access articles and network with
    colleagues.  It is one the largest and fastest-growing open-access publishers, receiving the ALPSP Gold Award for
    Innovation in Publishing in 2014.</p>

<p style="margin-bottom: 30px; clear: both"><img src="{{ url_for('static', filename='images/oaspa.png') }}" style="width: 100px; margin-right: 15px; float: left; margin-bottom: 30px"><a href="http://oaspa.org/">Open Access Scholarly Publishers Association (OASPA)</a> is a trade association that was established in 2008 in
    order to represent the interests of Open Access (OA) journal publishers globally in all scientific, technical and
    scholarly disciplines.</p>

<p style="margin-bottom: 30px; clear: both"><img src="{{ url_for('static', filename='images/rluk.png') }}" style="width: 100px; margin-right: 15px; float: left; margin-bottom: 30px"><a href="http://www.rluk.ac.uk/">Research Libraries UK (RLUK)</a> represents 38 of the leading and most significant <a href="http://www.rluk.ac.uk/rluk-members/members/">research libraries</a> in the UK
    and Ireland, aiming to optimize the contribution that research libraries and collections make to the economic,
    technological and cultural success of the UK and Ireland.</p>

{% endblock %}
